*{
            margin: 0px;
            padding: 0px;
        }
.juzhong {
    width:200px;
    height:100px;
    background-color:#f7b8d3;
    font-size:20px;
    border-radius:10px;
    display:table-cell;
    vertical-align:middle;
    padding-left:25px;
}

span{
    display:inline-block;
    text-align:center;
    
}
